div.wizard_box {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
}

div.wizard_box div.content div.prompt {
  padding: 10px 0px;
}

div.wizard_box div.content {
  display: block;
  width: calc(100% - 270px);
  padding: 20px;
}

div.wizard_box div.title {
  width: 100%;
  background: linear-gradient(#eee,#ddd);
  border-bottom: solid 1px #ccc;
  padding: 24px;
  font-size: 24px;
}

div.wizard_box div.steps {
  border-right: solid #ccc 1px;
  width: 250px;
  background: #eee;
  position: relative;
}

div.wizard_box div.steps a {
  display: block;
  padding: 20px;
  font-size: 16px;
}

div.wizard_box div.steps a {
  border-bottom: #ddd 1px solid;
  text-decoration: none !important;
}

div.wizard_box div.steps a:last-child {
  margin-bottom: 50px;
}

div.wizard_box div.steps a i {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

div.wizard_box div.steps a.active {
  font-weight: 600;
  background: #ddd;
  border-bottom: solid #ccc 1px;
  color: #333;
}

div.wizard_box div.steps a.active::after {
  display: inline-block;
  content: "\f0da";
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  margin-top: 0px;
}

div.wizard_box div.buttons button {
  margin-left: 20px;
}

div.wizard_box div.buttons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background: linear-gradient(#eee,#ddd);
  border-top: solid #ddd 1px;
  text-align: right;
}
